{% extends 'base.html.twig' %}

{% block title %}Payment Cancel{% endblock %}

{% block body %}
    <h1>Payment Cancel</h1>
    <p>Your payment was canceled.</p>
    <a href="{{ path('app_subscription') }}">Back to Subscriptions</a>
    <a href="{{ path('app_home') }}">Back to Home</a>

{% endblock %}