{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
    <h1>Payment Success</h1>
    <p>Thank you for your payment!</p>
    <a href="{{ path('app_subscription') }}">Back to Subscriptions</a>
    <a href="{{ path('app_home') }}">Back to Home</a>   

{% endblock %}