<nav class="flex justify-between items-center bg-neutral-100 p-2">
    <img src="" alt="" class="">
    <div class="">
    </div>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="text" name="" id="" placeholder="Lookign for a specific note?" class="">
        <button type="submit">SEARCH-ICON</button>
    </form>
    <div class="">
        <a href="" class="">PLUS-ICON</a>
        <a href="" class="">COG-ICON</a>
        <a href="" class="">PP</a>
    </div>
</nav>